# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.venv/

# ==============================
# Build Outputs (Compiler / Packager)
# ==============================
build/
!build/downloads/
!build/downloads/**
dist/
dist_gui/
dist_portable/
dist_installer/
dist_release/
release/
nuitka_tmp/
*.spec

# ==============================
# Executables / Archives
# ==============================
*.exe
*.dll
*.zip
*.tar.gz

# ==============================
# Logs
# ==============================
*.log

# ==============================
# VSCode
# ==============================
.vscode/

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Code Signing
# ==============================
codesign.pfx
cert.b64

# ==============================
# MkDocs build output
# ==============================
site/

# ==============================
# Version Control System Folders
# ==============================
.git/
.gitmodules
