# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.venv/

# ==============================
# PyInstaller
# ==============================
build/
dist/
dist_portable/
dist_installer/
release/
*.spec

# ==============================
# Executables / Archives
# ==============================
*.exe
*.dll
*.zip
*.tar.gz

# ==============================
# Logs
# ==============================
*.log

# ==============================
# VSCode
# ==============================
.vscode/

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Code Signing
# ==============================
codesign.pfx
cert.b64

# ==============================
# MkDocs build output
# ==============================
site/

# ==============================
# Version Control System Folders
# ==============================
.git/
.gitmodules
# Keep release binaries if manually placed in repository downloads folder
!downloads/
!downloads/**
